@model BlogwebsiteMVC.Models.Blog

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Blog Detayı</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogBaslik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogBaslik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogIcerik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogIcerik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            <img class="img-responsive" src="@Model.Foto" width="80" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogOkunmaSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogOkunmaSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogOkunmaSuresi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogOkunmaSuresi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BlogTarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BlogTarih)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Geri Dön", "Index")
</p>